//.eslintrc
{
  "extends": [
    "react-app",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "parser": "flow" }]
  }
}
